@import "node_modules/bulma/bulma";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css');


$red: #f02654;
$yellow: #ffb32c;
$body-copy: #4a4a4a;
$border-radius-sm: 4px;

* {
    margin: 0;
}

html, body {
    margin: 0 auto;
    height: 100%;
    font-family: 'Roboto', Helvetica, sans-serif;

}

nav {
    position: relative;
}

.logo {
    padding: 2em;
}

footer {
    padding: 1em 2em;
    display: block;
    background-color: #000;
    width: 100%;
    position: absolute;
    bottom: 0;
}

a.footer-links {
    color: $body-copy;
    &:hover {
        color: $red;
        transition: all 0.3s;
    }
}

.content-wrapper {
  min-height: 100%;
}

.intro-overlay {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 100;
    overflow: hidden;

    .intro-content {
        text-align: center;
        max-width: 600px;
        margin: 16% auto;

        h3 {
            font-size: 2rem;
            font-weight: 400;
            margin: 1em;
        }

        a {
            font-size: 1.6rem;
            transition: all 0.3s;

            &:hover {
                box-shadow: 0 10px 24px -2px rgba($red,0.3);
                transition: all 0.3s;
            }
        }
    }
}

.get-started {
    display: none;
}

.bg {
    background: url('img/bg.gif') no-repeat center / cover,
                linear-gradient(#000, #000);
    margin: 0 auto ;
    height: 100vh;
    overflow: hidden;
}

svg {
    transform: scale(1);
    transition: all 0.3s;
}

svg:hover {
    transform: scale(1.08);
    transition: all 0.3s;
}

.github {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    svg:hover {
        transform: none;
        #gh {
            fill: $red !important;
            transition: all 0.3s;
        }
    }
}

.inner-container {
    margin: 0 auto;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 100px 40px rgba(0, 0, 0, 0.4);
    h1, h4 {
        color: $white;
        font-family: 'Roboto', Helvetica, sans-serif;
        font-weight: $weight-bold;
        text-align: center;
        line-height: 1.45;
    }
}

h1 {
    font-size: 2rem;
}

h4 {
    font-size: 2rem;
}

.button {
    color: $red;
    margin: 2em 1em;
    background-color: $red;
    transition: all 0.3s;

    &:hover {
        color: $red;
        box-shadow: 0px 0px 20px 4px rgba(255,255,255,0.3);
        background-color: $white;
        transform: translateY(-2px);
        transition: transform 0.3s ease-in-out;
    }
}

.button.is-primary {
      color: $white;
      background-color: $red;
      padding: 2em;
      border-radius: 10px;
      font-weight: bold;
      &:hover {
          // box-shadow: 0px 0px 20px 4px rgba(240,39,85,0.5);
          box-shadow: 0 10px 24px -2px rgba($red,0.3);
          background-color: $red;
      }
      &:focus {
          background-color: $red;
      }
}

.button-container {
    margin: 0 auto;
    text-align: center;
}



h1 {
    padding-bottom: 1em;
}


.top {
  margin-bottom: 1em;
}

.container {
    max-width: 1400px !important;
}

.conditional {
  margin: 1em 0 0.5em;
  padding: 1em 0;
  color: $white;
  font-size: .9em;
}

.conditional > .conditional {
  color: $red;
}

#last-div {
    display: none;
}

.lightbox {
  display: none;
  text-align: center;
  padding: 0 3em;
  background: transparent;
  margin: 0 auto;
  font: 3em/30px 'Roboto', Arial, Verdana, serif;
}

label {
  color: $red;
  font-weight: 900;
  vertical-align: middle;
  position: relative;
  display: block;
  margin: 1.5em 0;
  // padding-left: 0.5em;

  &:hover {
      text-shadow: 0 0 40px rgba($red, 0.8);
      cursor: pointer;
  }
}

// label + label {
//   margin-left: 1em;
// }

input[type=radio] {
    display: none;
}

input + span{
	position: absolute;
	left: 0;
  top: 2px;
	width: 24px;
	height: 24px;
  border: 2px solid $red;
  display: none;
}

input[type=radio] + span {
  border-radius: 50%;
}

input[type=radio]:checked + span {
  background: rgba(240, 38, 84,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(240, 38, 84,1) 44%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 55%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(44%, rgba(240, 38, 84,1)), color-stop(45%, rgba(255,255,255,1)), color-stop(46%, rgba(255,255,255,1)), color-stop(55%, rgba(255,255,255,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(240, 38, 84,1) 44%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 55%);
  background: -o-radial-gradient(center, ellipse cover, rgba(240, 38, 84,1) 44%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 55%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(240, 38, 84,1) 44%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 55%);
  background: radial-gradient(ellipse at center, rgba(240, 38, 84,1) 44%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 55%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f02654', endColorstr='#ffffff', GradientType=1 );
}

input[type=checkbox]:checked + span:after {
  content: "\00d7";
  font-weight: bold;
  position: absolute;
  top: -7px;
  left: 1px;
  font-size: 20px;
  color: $red;
}

input[type=radio],
input[type=checkbox] {
	/*hide the radio button*/
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}

select,
input[type=text] {
  border-radius: 5px;
  padding: 6px 10px;
  border: 2px solid $red;
  font-color: #666;
  font-size: 15px;
}

.conditional, .poster-container {

    h4 {
        padding-bottom: 1em;
    }

    a.movie-detail {
        display: block;
        background: $red;
        border-radius: $border-radius-sm;

        div {
            color: #fff;
            font-size: 2rem;
            position: absolute;
            padding-left: 20px;
            padding-top: 20px;
            visibility: hidden;
            z-index: 100;
        }

        &:hover div {
            visibility: visible;
        }

        img {
            display: block !important;
            border-radius: $border-radius-sm;
            transition: all 0.3s;

            &:hover {
                box-shadow: 0px 0px 20px 4px rgba(240,39,85,0.5);
                opacity: 0.4;
                transition: all 0.3s;
            }
        }
    }
}


.poster-container {
    display: table;
    margin: 0 auto;

    #template {
        display: table-cell;
        padding: 2vw;
    }
}

#mobile-logo {
    display: none;
}

//
// * Animations *
//
@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
  	opacity:0;
  	-webkit-animation:fadeIn ease-in 1;
  	-moz-animation:fadeIn ease-in 1;
  	animation:fadeIn ease-in 1;

  	-webkit-animation-fill-mode:forwards;
  	-moz-animation-fill-mode:forwards;
  	animation-fill-mode:forwards;

  	-webkit-animation-duration:1s;
  	-moz-animation-duration:1s;
  	animation-duration:1s;
}

@mixin animation-delay($time) {
    -webkit-animation-delay: $time;
    -moz-animation-delay: $time;
    animation-delay: $time;
}

.fade-in.one {
    @include animation-delay(0.4s);
}

.fade-in.two {
    @include animation-delay(0.6s);
}

.fade-in.three {
    @include animation-delay(0.8s);
}


@media all and (max-width: 480px) {

    .github {
        display: none;
    }

    #main-logo {
        display: none;
    }

    #mobile-logo {
        display: block;
        margin: 0 auto;
    }

    nav {
        background-color: $red;

        .logo {
            padding: 0.25em;
        }
    }

    .container {
        margin-top: 3em;
    }

    .lightbox {
        font-size: 2em;
    }

    .intro-overlay .intro-content h3 {
        font-size: 1.6rem;
    }

}

@media all and (min-width: 480px) {

    h1 {
        font-size: 4rem;
    }

}
